@font-face {
        font-family: 'Sans-Francisco';
        font-style: normal;
        font-weight: 300;
        font-stretch: 100%;
        src: url('./SF Pro Rounded.woff2') format('woff2');
}
@font-face {
        font-family: 'Disclaimer-Plain';
        font-style: normal;
        font-weight: 300;
        font-stretch: 100%;
        src: url('./Disclaimer Plain.woff2') format('woff2');
}
@font-face {
        font-family: 'TerminalMono';
        font-style: normal;
        font-weight: 300;
        font-stretch: 100%;
        src: url('./EAS OSD Mono.woff2') format('woff2');
}
body {
        font-family: Sans-Francisco, roboto, sans-serif;
        color: #222;
}