body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        font-family: fredoka, roboto, sans-serif;
        background: #d4f0ff;
        --background: #d4f0ff;
        --accent: #01a6ff;
        --text-color: #2b739a;
        --accent2: #8bd6ff;
        --accent3: #c0e9ff;
        --shadow: 0 5px 20px rgba(0,37,57,0.1);
        --text-color2: #eb3838;
}

h1 {
        color: var(--accent);
        font-size: 50px;
        margin-top: 80px;
}

h1 span {
        background: var(--accent);
        color: var(--background);
        padding: 2px 16px;
        margin: 0 8px;
        border-radius: 10px;
}

#questionCard {
        background: var(--background);
        box-shadow: var(--shadow);
        width: 290px; height: 450px;
        border-radius: 25px;
        border: 4px solid var(--accent3);
        padding: 50px 25px 25px;
        position: relative;
}

#questionCard .header {
        font-size: 20px;
        font-weight: 600;
        border-bottom: 4px dashed var(--accent3);
        width: 100%; height: 50px;
        display: grid;
        place-items: center;
        color: var(--text-color);
        position: absolute;
        top: 0; left: 0;
}

.questionMark {
        color: var(--text-color);
        font-size: 18px;
        width: 100%;
}

.questionMark button {
        background: var(--accent2);
        border: none;
        padding: 4px 8px;
        border-radius: 8px;
        font-family: fredoka, roboto, sans-serif;
        color: var(--text-color);
}

.answerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 20px 0 0;
        gap: 8px;
}

.ans {
        color: var(--text-color);
        padding: 12px 12px 12px 48px;
        border-radius: 12px;
        background: var(--accent3);
        width: calc(100% - 60px);
        position: relative;
        overflow: hidden;
        transition: 0.3s;
} .ans:active {
        transform: scale(1.05) translateY(-5px);
        box-shadow: var(--shadow);
        border: 2px dashed var(--accent2);
}

.ans::before {
        content: '';
        background: var(--accent2);
        position: absolute;
        left: 5px; top: 5px; bottom: 5px;
        width: 30px;
        display: grid;
        place-items: center;
        color: var(--accent);
        font-size: 20px;
        font-weight: bold;
        border-radius: 7px;
}

.ans.a::before { content: 'A'; }
.ans.b::before { content: 'B'; }
.ans.c::before { content: 'C'; }

.bottom-util {
        position: absolute;
        bottom: 10px; left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 5px;
}

#questionCount { font-weight: bold; color: var(--text-color); }

.clue, #questionCount {
        width: 50px; height: 50px;
        background: var(--accent3);
        display: grid;
        place-items: center;
        border-radius: 15px;
        border: 2px dashed var(--accent2);
        transition: 0.3s;
} .clue svg { color: var(--accent); width: calc(100% - 20%); height: calc(100% - 40%); }

.clue:active, #questionCount:active {
        transform: scale(1.05) translateY(-5px);
        border: 2px solid var(--accent2);
        box-shadow: var(--shadow);
}

#alert {
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(0,0,0,0.2);
        backdrop-filter: blur(5px);
        display: grid;
        place-items: center;
        animation: fade 0.3s;
} #alert.hide { display: none; }

#alert .AlertContainer, #clue .AlertContainer {
        background: var(--background);
        width: 250px; height: auto;
        border-radius: 25px;
        position: relative;
        box-shadow: var(--shadow);
        padding: 25px 25px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: popOut 0.3s;
}

@keyframes popOut {
        0% { transform: scale(0.8); }
        100% { transform: scale(1); }
}

@keyframes fade {
        0% { opacity: 0; }
        100% { opacity: 1; }
}

.AlertContainer h2 {
        margin: 0;
        font-size: 30px;
        text-align: center;
        color: var(--accent);
} .AlertContainer.incorrect h2 { color: var(--text-color2); }

#alert .AlertContainer.incorrect {
        --text-color: #eb3838;
        width: 200px; height: 200px;
        padding: 15px;
        background: none;
        box-shadow: none;
}

.AlertContainer svg {
        width: 100%; height: auto;
        color: var(--text-color2);
        align-self: center;
}

.AlertContainer button {
        background: var(--accent);
        position: absolute;
        bottom: 10px; right: 10px;
        width: 100px; height: 40px;
        font-family: fredoka, roboto, sans-serif;
        border: none;
        border-radius: 15px;
        color: var(--background);
        font-weight: bold;
        font-size: 15px;
}

.AlertContainer.incorrect button {
        bottom: -100px; left: 50%;
        transform: translateX(-50%);
        background: var(--text-color2);
}

.AlertContainer p {
        color: var(--text-color);
        margin: 20px 0 0;
        width: 100%;
        font-size: 18px;
}

#welcomeWindow, #endWindow {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0; left: 0;
        margin: 0;
        width: 100%; height: 100%;
        background: var(--background);
        z-index: 2;
}

#welcomeWindow h1, #endWindow h1, #endWindow p, #welcomeWindow p { animation: popOutFade 0.3s; }
@keyframes popOutFade {
        0% { transform: scale(0.8); opacity: 0; }
        100% { transform: scale(1); opacity: 1; }
}

#welcomeWindow p, #endWindow p {
        color: var(--text-color);
        font-size: 18px;
        width: 350px;
}

#welcomeWindow button {
        position: absolute;
        left: 50%; bottom: 100px;
        border: none;
        border-radius: 50px;
        width: 150px; height: 60px;
        transform: translateX(-50%);
        background: #ffff;
        color: var(--text-color);
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        box-shadow: var(--shadow);
        font-family: fredoka, roboto, sans-serif;
} #welcomeWindow button { animation: popOutBtn 0.3s; }
@keyframes popOutBtn {
        0% { transform: scale(0.8) translateX(-50%); opacity: 0; }
        100% { transform: scale(1) translateX(-50%); opacity: 1; }
} #endWindow.hide { display: none; }

#clue:not(.hide) {
        position: fixed;
        z-index: 2;
        top: 0; left: 0;
        width: 100%; height: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0,0,0,0.1);
        animation: fade 0.3s;
        display: grid;
        place-items: center;
} #clue.hide .AlertContainer { display: none; }

#passwordInp {
        background: #ffff;
        border-radius: 8px;
        width: 100%;
        border: none;
        font-family: fredoka, roboto, sans-serif;
        padding: 13px;
        margin: 10px;
        color: var(--text-color);
} #passwordInp::placeholder { color: var(--text-color); }
#clue .submit { right: 120px; }

.requestBox {
        background: var(--accent3);
        padding: 10px 20px;
        border-radius: 10px;
        color: var(--text-color);
        animation: popOutFade 0.3s;
}